<div
    class="toast-container position-fixed top-0 end-0 p-3"
    style="z-index: 2000;"
>
    <div
        id="toast-alert"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <strong
                class="me-auto"
                id="toast-title"
            >
                Notificação
            </strong>

            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Fechar"
            ></button>
        </div>

        <div
            class="toast-body"
            id="toast-message"
        ></div>
    </div>
</div>